[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
pyodbc = "*"
python-dotenv = "*"
sqlalchemy = "*"
pdfkit = "*"
openpyxl = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"
