{% extends "base.html" %} {% load static %} {% block content %}
<style>
      body {
        font-family: 'Montserrat', serif;
        font-size: 16px;
      }
    </style>
<div class="text-center jumbotron p-1 p-md-5 rounded bg-white">
  <img
    src="{% static 'img/REIDMOUNT-DISCOVERY-SmallWeb.jpg' %}"
    class="img-fluid"
    alt="Responsive image"
  />
</div>
<div class="text-center bg-light">
  <h3>{{ student_list.0.school_name }}</h3>
  <h6>Website:   <a href="https://reidmountdiscovery.ca">https://reidmountdiscovery.ca</a></h6>
  <h6>Info:  <a href="info@reidmountdiscovery.ca">info@reidmountdiscovery.ca</a></h6>
</div>
<div class="container mt-5">
<h5 class="text-dark rounded">
{{ student_list.0.first_name }} {{ student_list.0.last_name }} 
</h5>
</div>
<div class="container mb-5 mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Day</th>
        <th scope="col">Time</th>
        <th scope="col">Subject</th>
        <th scope="col">Zoom Meeting ID</th>
        <th scope="col">Zoom Password</th>
      </tr>
    </thead>
     {% for student in student_list %}
    <tbody>
      <tr>
        <td>{{student.day_of_week }}</td>
        <td>{{student.time_from }} - {{ student.time_to }}</td>
        <td>{{ student.subject_name }}</td>
        <td><a href="{{ student.zoom_link }}" class="href">{{ student.meeting_id }}</a></td>
        <td> {{ student.zoom_password }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="text-center"><h5><u>2021-2022</u></h5></div>
<div class="table-responsive">
  <table class="table-sm table-bordered mx-auto w-auto mt-1">
    <tbody>
    {% for cal in calendar %}
    <tr>
      {% for d in cal  %}

    {% if ';1' in d %}
      <td><b><strike>{{ d|slice:":-2" }}</strike></b></td>
    {% else %}
      <td>{{ d }}</td>
    {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
